@mixin form-input-styles {
	padding: 0.6875rem 1.125rem;
	font-size: var(--wp--preset--font-size--normal);
	font-weight: 500;
	font-family: var(--wp--preset--font-family--plus-jakarta-sans);
	background-color: var(--wp--preset--color--base-one);
	border: none;
	border-radius: 4px;
	color: var(--wp--preset--color--contrast-one);

	&::placeholder {
		color: var(--wp--preset--color--contrast-one);
	}
}

.form-input {

	@include form-input-styles;
}
