@use "variables" as *;
@use "forms";

.hero-content {

	@media (max-width: $breakpoint-mobile) {
		flex-direction: column;
		align-items: flex-start;

		> .wp-block-group {
			flex-basis: 100%;
			width: 100%;
		}
	}
}

.hero-search {

	.wp-block-search__input {

		@include forms.form-input-styles;
		background-image: url(assets/images/search-icon.svg);
		background-repeat: no-repeat;
		background-position: 16px center;
		background-size: 20px 20px;
		padding-left: 54px;
	}

	.wp-block-search__button {
		display: none;
	}

	&.has-border .wp-block-search__input {
		border: 1px solid var(--wp--preset--color--contrast-three);
	}
}
