@use "variables" as *;

@media (max-width: $breakpoint-mobile) {

	header .btn-primary {
		display: none;
	}
}

.wp-block-navigation-item.mobile-subscribe-cta {
	display: none;
}

.wp-block-navigation__responsive-container-open {
	width: 34px;
	height: 34px;

	svg {
		width: 34px;
		height: 34px;
	}
}

.wp-block-navigation__responsive-container.is-menu-open {
	background-color: var(--wp--preset--color--gold);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;

	.wp-block-navigation__responsive-dialog {
		display: flex;
		flex-direction: column;
		gap: 0;
		margin-top: 0;
		height: 100%;
		position: relative;
	}

	.wp-block-navigation__responsive-container-content {
		display: flex;
		padding: 0 var(--wp--preset--spacing--50) var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
		gap: var(--wp--preset--spacing--50);
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		flex: 1;

		.wp-block-navigation__container {
			display: flex;
			flex-direction: column;
			min-height: 100%;
			align-items: flex-start;
			width: 100%;

			.has-child {
				align-items: flex-start;
			}
		}
	}

	.wp-block-navigation__responsive-container-close {
		position: static;
		width: 32px;
		height: 32px;
		margin: var(--wp--preset--spacing--50);
		margin-left: auto;
		flex-grow: 1;

		svg {
			width: 32px;
			height: 32px;
		}
	}

	.wp-block-navigation-item__content {
		font-family: var(--wp--preset--font-family--plus-jakarta-sans);
		font-weight: 700;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.6;
		color: var(--wp--preset--color--contrast-one);
		text-decoration: none;
	}

	.wp-block-navigation-item.mobile-subscribe-cta {
		display: block;
		margin-top: auto;
		width: 100%;

		.wp-block-navigation-item__content {
			display: block;
			width: 100%;
			background-color: var(--wp--preset--color--contrast-one);
			color: var(--wp--preset--color--white);
			border-radius: 999px;
			padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--60);
			text-align: center;
			box-sizing: border-box;
		}
	}

	.btn-primary,
	.wp-block-button {
		width: 100%;

		.wp-block-button__link {
			width: 100%;
			justify-content: center;
		}
	}

	.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-left: 1px solid var(--wp--preset--color--contrast-one);
		gap: var(--wp--preset--spacing--50);
		margin-top: var(--wp--preset--spacing--50);
		padding-left: var(--wp--preset--spacing--50);
		padding-right: 0;
		margin-left: 0;
		background: transparent;
		position: static;
		width: auto;
		min-width: 0;
		box-shadow: none;

		> .wp-block-navigation-item > .wp-block-navigation-item__content {
			padding: 0;
		}
	}
}
