@use "variables" as *;

.wp-block-query-pagination {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	margin-top: var(--wp--preset--spacing--100);

	.wp-block-query-pagination-previous {
		justify-self: start;
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--30);
		font-family: var(--wp--preset--font-family--plus-jakarta-sans);
		font-weight: 700;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.6;
		text-decoration: none;
		color: var(--wp--preset--color--contrast-one);

		&:hover {
			text-decoration: underline;
		}
	}

	.wp-block-query-pagination-numbers {
		justify-self: center;
		grid-column: 2;
		display: flex;
		gap: 2px;

		.page-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			font-family: var(--wp--preset--font-family--plus-jakarta-sans);
			font-weight: 700;
			font-size: var(--wp--preset--font-size--normal);
			line-height: 1.6;
			text-decoration: none;
			color: var(--wp--preset--color--contrast-one);
			border-radius: 8px;

			&.current {
				background: var(--wp--preset--color--contrast-one);
				color: var(--wp--preset--color--base-one);
				border-radius: 50%;
			}

			&.dots {
				color: var(--wp--preset--color--contrast-two);
			}

			&:hover:not(.current):not(.dots) {
				text-decoration: underline;
			}
		}
	}

	.wp-block-query-pagination-next {
		justify-self: end;
		grid-column: 3;
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--30);
		font-family: var(--wp--preset--font-family--plus-jakarta-sans);
		font-weight: 700;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.6;
		text-decoration: none;
		color: var(--wp--preset--color--contrast-one);

		&:hover {
			text-decoration: underline;
		}
	}

	.wp-block-query-pagination-previous-arrow,
	.wp-block-query-pagination-next-arrow {
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.wp-block-query-pagination-previous-arrow {
		background-image: url(assets/images/arrow-left.svg);
	}

	.wp-block-query-pagination-next-arrow {
		background-image: url(assets/images/arrow-right.svg);
	}

	@media (max-width: $breakpoint-mobile) {
		gap: var(--wp--preset--spacing--40);

		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next {
			font-size: 0;
			gap: 0;
		}

		.wp-block-query-pagination-numbers .page-numbers {
			width: 36px;
			height: 36px;
			font-size: var(--wp--preset--font-size--tiny);
		}
	}
}
