.wp-block-post-content p.has-x-large-font-size {
	max-width: none;
}

.wp-block-post-content .wp-block-image {
	max-width: none;

	figcaption {
		font-family: var(--wp--preset--font-family--plus-jakarta-sans);
		font-size: var(--wp--preset--font-size--small);
		font-weight: 500;
		line-height: 1.6;
		color: var(--wp--preset--color--contrast-two);
	}
}

.wp-block-post-content .wp-block-quote {
	max-width: none;
	margin-top: var(--wp--preset--spacing--80);
	margin-bottom: var(--wp--preset--spacing--80);
	padding-left: var(--wp--preset--spacing--50);
	border-left: 2px solid var(--wp--preset--color--accent-one);

	cite {
		display: block;
		font-style: normal;
		margin-top: var(--wp--preset--spacing--40);
		font-size: 18px;

		&::before {
			content: "— ";
		}
	}
}
